[submodule "wallet-daemon"]
	path = wallet-daemon
	url = git@github.com:enjin/wallet-daemon.git
[submodule "platform-decoder"]
	path = platform-decoder
	url = git@github.com:enjin/platform-decoder.git